<form method="post"  #f="ngForm" (ngSubmit)="editEnv(f)" name="edit-env-form" id="edit-env-form">

<mat-dialog-content class="mat-typography">
    <mat-form-field class="full-width">
        <input name="evnLabel" [(ngModel)]="label" required matInput #evnLabel="ngModel" placeholder="{{'ADD_NETWORK_ENVIRONMENT_LABEL' | translate}}">
        <mat-error>Label is required</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput [(ngModel)]="macAddress" [ngModelOptions]="{standalone: true}"  placeholder="{{'ADD_NETWORK_ENVIRONMENT_MAC_ADDRESS' | translate}}">
    </mat-form-field>
    <div *ngIf="data.allowExternalConnections">
        <mat-form-field class="full-width">
            <input matInput [(ngModel)]="serverIp" [ngModelOptions]="{standalone: true}"
                   placeholder="{{'EDITENV_SERVER_IP' | translate}}">
        </mat-form-field>
        <div [formGroup]="portForm">
            <div formArrayName="ports" *ngFor="let port of portForm.get('ports').controls; let i=index;">
                <div [formGroupName]="i">
                    <mat-form-field>
                        <input matInput type="number" formControlName="portNumber"
                               placeholder="{{'EDITENV_SERVER_PORT' | translate}}">
                        <mat-error>Empty ports are not allowed!</mat-error>
                    </mat-form-field>
<!--                    Hide delete for the 1st post. At least one port is required!-->
                    <button mat-mini-fab [disabled]="i == 0 && portForm.get('ports').controls.length == 1" type="button" color="warn"  (click)="removePort(i)">
                        <mat-icon>delete forever</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <button style="margin-bottom: 5px" type="button" mat-raised-button (click)="addPort('')">
            <mat-icon>add box</mat-icon>
            Add extra port
        </button>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button type="submit" value="submit" >Ok</button>
    <button mat-button [mat-dialog-close]>{{'ADDENV_CANCEL' | translate}}</button>
</mat-dialog-actions>
</form>
