<div class="modal-header">
    <h3 class="modal-title">Software Heritage Build</h3>
</div>

<div class="modal-body">
    <form id="historicForm">

        <div class="form-group">
            <label>SWH revision ID <input type="text" ng-model="runHistoricBuild.revisionId"> </label>
        </div>
        <div class="form-group">
            <label>Input Location <input type="text" ng-model="runHistoricBuild.inputLocation"> </label>
        </div>
        <div class="form-group">
            <label>Recipe Content <textarea ng-model="runHistoricBuild.recipeContent"
                                            placeholder="Input recipe content here"></textarea> </label>
        </div>
        <div class="form-group">
            <label>Recipe Name <input type="text" ng-model="runHistoricBuild.recipeName"> </label>
        </div>

        <div class="form-group">
            <label> Build Mode
                <select ng-model="runHistoricBuild.buildMode" ng-options="x for x in buildModes">
                </select> </label>
        </div>

        <div ng-if="runHistoricBuild.buildMode == 'Interactive'" class="form-group">
            <label> Autostart <input type="checkbox" ng-model="runHistoricBuild.autoStart"></label>
        </div>

        <div ng-if="runHistoricBuild.buildMode == 'Automatic' || runHistoricBuild.autoStart == true" class="form-group">
            <label>Crontab for <select ng-model="runHistoricBuild.cronUser" ng-options="x for x in cronUsers">
            </select> </label>
        </div>

        <div  ng-if="runHistoricBuild.buildMode == 'Automatic' || runHistoricBuild.autoStart == true" class="form-group">
            <label>Logfile (Full Path) <input type="text" ng-model="runHistoricBuild.logFileLocation"> </label>
        </div>

    </form>
        
        <div>
            <label> Inject additional files </label>
            <div>
                <form id="injectDataForm" ng-submit="runHistoricBuild.onFileUpload()">
                    <br>
                    <button type="button" class="btn btn-default" ngf-select="runHistoricBuild.onImportFilesChosen($files)" multiple >Select Files</button>
                    <li class="list-group-item" ng-repeat="elem in runHistoricBuild.uploadFiles track by $index">
                        <!-- Display uploaded files together with their upload status, and choose destination in Container -->
                        <div class="input-group">
                            <input readonly  type="text" class="form-control" ng-model="runHistoricBuild.uploadFiles[$index].filename" size="30">
                            <span class="input-group-addon">Chosen File</span>
                        </div>

                        <div class="input-group">
                            <select required class="form-control" theme="bootstrap" ng-model="runHistoricBuild.uploadFiles[$index].action">
                                <option disabled hidden value=""></option>
                                <option value="copy">copy</option>
                                <option value="extract">extract</option>
                            </select>
                            <span class="input-group-addon">Action</span>
                        </div>

                        <label  ng-if="runHistoricBuild.uploadFiles[$index].action == 'copy'">I want custom filename of my copied file:
                            <input type="checkbox" ng-model="runHistoricBuild.customFileName">
                            <br>
                        </label>

                        <div ng-if="runHistoricBuild.customFileName  == true && runHistoricBuild.uploadFiles[$index].action == 'copy'" class="input-group">
                            <input ng-required="runHistoricBuild.customFileName == true" type="text" class="form-control" ng-model="runHistoricBuild.uploadFiles[$index].destination" size="30">
                            <span class="input-group-addon">(File-)Name</span>
                        </div>

                        <span class="progress" ng-show="progress >= 0">
                    <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
                </span>
                    </li>
                    <button ng-show="runHistoricBuild.uploadFiles.length > 0" type="submit" class="btn btn-default" >Upload and Add files</button>
                </form>
            </div>

            <div >
                <label>URLS to be used for inject:</label>
            </div>
            <li class="list-group-item" ng-repeat="elem in runHistoricBuild.urls track by $index">
                <label>{{runHistoricBuild.urls[$index].name}}</label>
                <div class="input-group">
                    <input readonly  type="text" class="form-control" ng-model="runHistoricBuild.urls[$index].url" size="30">
                    <span class="input-group-addon">URL</span>

                </div>
            </li>
            
        </div>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$close();runHistoricBuild.startBuild();">Start Build
    </button>
    <button class="btn btn-default" type="button" ng-click="$close()">{{'CONFIRM_DELETE_CANCEL' | translate}}</button>
</div>