
<h2 class="m-t-0">{{'CHOOSE_ENV_L' | translate}}</h2>

<uib-tabset active="standardEnvsOverviewCtrl.view">
    <uib-tab index="0" heading="{{'CHOOSE_BASEENV_L' | translate}}">


        <table id="base" st-table="envs" st-safe-src="standardEnvsOverviewCtrl.envs" class="table">
            <thead>
            <tr>
                <th colspan="6">
                    <input st-search="" class="form-control" placeholder="Search" type="text" /><br>
                </th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="row in envs">
                <td>
                    <b><a ui-sref="admin.edit-env({envId: row.envId, objEnv: false})">{{row.title}}</b></a>

                    <!--Start-->
                    <a ui-sref="admin.emulator({envId: row.envId, objectId: row.objectId, archiveId: row.archiveId, returnToObjects: false})">{{'CHOOSE_ENV_PROPOSAL'
                        | translate}}</a>

                    <!--Software-->
                    <a style="cursor: pointer;" ng-click="standardEnvsOverviewCtrl.addSoftware(row.envId)">[{{'CHOOSE_ENV_ADDSW'| translate}}]</a>
                </td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </uib-tab>
    <uib-tab index="1" heading="Software Environment">
        <environment-list list="" searchPlaceHolder="Search..." isObjEnv=false></environment-list>
    </uib-tab>
    <uib-tab index="2" heading="{{'CHOOSE_OBJENV_L' | translate}}" ng-if="standardEnvsOverviewCtrl.config.features.objectEnvironments" >
        <environment-list list="standardEnvsOverviewCtrl.objEnvs" searchPlaceHolder="{{'CHOOSE_ENV_SEARCH' | translate}}" isObjEnv=true></environment-list>
    </uib-tab>
</uib-tabset>


